.Mui-selected
{
    color: blue !important;
    background-color: transparent;
}
.MuiDataGrid-columnHeaderTitle{
    font-weight: 600 !important;
}
/* #\:r3\:{
    padding: 7px 12px;
}  */

/* * {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
::-webkit-scrollbar { 
    display: none;  
} */

.featuresImg{
    height: 356px;
}
.productHeroContainer1{
   padding: 10px 10px !important;
}
@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .productHeroContainer1{
        padding: 10px 100px !important;
     }
}